.output-section {
    height: 100vh !important;
    width: 100vw !important;
}

.output-container {
    margin: 10px 15px !important;
    padding: 2vh 10vw !important;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    justify-content: space-center !important;
}

